{{ define "title" }}{{ .Page.Title }}{{ end }}

{{ define "type" }}"classification"{{ end }}

{{ define "main" }}
<div class="content">
    <div class="left" id="classification_list">
        <script type="application/javascript">
            // readFile "/layouts/partials/classification/list.html" | safeHTML
            loadLeftPartial(document.getElementById("classification_list"), 'classification_list.html')
        </script>        
    </div>

    <div class="right">
        <div class="title">
            <div class="name">
                <b>{{ .Params.title | safeHTML }}</b>
            </div>
        </div>

        {{ range $idx, $val := .Params.contents }}
        <div class="contrib">
            {{ readFile ( printf "/layouts/partials/%s" $val ) | safeHTML }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}