+++
title = """[{{contributions|length}}]"""
+++

<h1>{{ institute.name|e }} {{ author.first|e }} {{ author.last|e }}</h1>

{% import 'contribution_detail.html.jinja' as contribution_detail %}

{% for contribution in contributions %}
{{ contribution_detail.render(contribution, include_event_slides) }}
{% endfor %}