+++
title = "{{keywords|length}}"
date = "2023-01-02T12:06:30+01:00"
+++

<section>
  <ul>
    {% for keyword in keywords %}
    <li>
      <a data-href="keyword/{{ keyword.code|lower }}/index.html" 
          onclick="openUrl(`keyword/{{ keyword.code|lower }}/index.html`)" 
          href="javascript:void(0);"><b>{{ keyword.name }}</b></a>
    </li>
    {% endfor %}
  </ul>
</section>