<div class="title">List of Authors</div>

<div class="az">
  {% for letter, is_present in initials|dictsort %}
  <a class="letter {% if not is_present %} disabled-link {% endif %}" href="#group-{{letter}}">{{ letter|upper }}</a>
  {% endfor %}
</div>

{% for lastname_initial, group in authors_groups|dictsort %}
<h2 class="group-header" id="group-{{ lastname_initial|lower }}">{{ lastname_initial|upper }}</h2>
<ul class="authors">
  {% for author in group %}
  {% if author.id %}
  <li class="author">
    <div>
      <a data-href="author/{{ author.id|lower }}/index.html"
        onclick="openUrl(`author/{{ author.id|lower }}/index.html`)" href="javascript:void(0);">
        <b>{{ author.last }} {{ author.first }}</b>
      </a>
    </div>
    {% if author.affiliations | length %}
    <div>
      ({{ ", ".join(author.affiliations) }})
    </div>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}