+++
type = "author"
title = """{{ author.last|safe|e }} {{ author.first|safe|e }}"""

{% if contributions|length>0 %}
contents = [
{% for contribution in contributions %}
"""contributions/{{ contribution.code|lower }}.html""",
{% endfor %}
]
{% endif %}
+++
