+++
title = """[{{authors|length}}]"""
+++

<section>
  <ul>
    {% for author in authors %}
    <li>
      <a href="../author/{{ author.id|lower }}/index.html">
        <b>{{ author.first }} {{ author.last }}</b>
        ({{ author.affiliation }})
      </a>
    </li>
    {% endfor %}
  </ul>
</section>