<div class="title">Table of Classes</div>

<ul class="classifications">
  {% for classification in classifications %}
  {% if classification.code %}
  <li class="classification">
    <a href="../classification/{{ classification.code|lower }}/index.html">
      <b>{{ classification.title }}</b>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
