---
title: "[{{contributions|length}}]"
date: 2023-01-02T12:06:30+01:00
draft: false
---

<h1>{{ classification.title|e }}</h1>

{% import 'contribution_detail.html.jinja' as contribution_detail %}

{% for contribution in contributions %}
{{ contribution_detail.render(contribution, loop.cycle('odd', 'even')) }}
{% endfor %}