+++
title = """[{{classifications|length}}]"""
+++

{% set prev_classification_group = None %}

<section>
  <div class="classifications">

    {% for classification in classifications %}

    {% if classification.track_group %}
    {% set classification_group = classification.track_group.title %}
    {% else %}
    {% set classification_group = None %}
    {% endif %}

    {% if prev_classification_group != classification_group and classification_group %}
    {% set prev_classification_group = classification_group %}
    <div class="classification-group">
      <b>{{ classification_group }}</b>
    </div>
    {% endif %}

    <div class="classification-item">
      <a href="../classification/{{ classification.code|lower }}/index.html">
        <b>{{ classification.title }}</b>
      </a>
    </div>

    {% endfor %}
  </div>
</section>