baseURL = """{{event.href}}/{{event.path}}/"""
languageCode = "en-us"
title = """{{event.name}}"""

disableKinds = ["RSS", "taxonomy", "taxonomyTerm", "sitemap", "robotsTXT"]

[params]
href = """{{event.href}}"""
color = """{{event.color}}"""
name = """{{event.name}}"""
title = """{{event.title}}"""
hosted = """{{event.hosted}}"""
editorial = """{{event.editorial}}"""
location = """{{event.location}}"""
date = """{{event.date}}"""
isbn = """{{event.isbn}}"""
issn = """{{event.issn}}"""
doi = """{{event.doi}}"""

{% for attachment in attachments %}
{% if 'logo' in attachment.filename: %}
logo = """pdf/{{attachment.filename}}"""
{% endif %}
{% if 'poster' in attachment.filename: %}
poster = """pdf/{{attachment.filename}}"""
{% endif %}
{% endfor %}

{% for attachment in attachments %}
[[params.attachments]]
title = """{ attachment.title }}"""
filename = """pdf/{{attachment.filename}}"""
{% endfor %}   

