baseURL = """{{event.href}}/{{event.path}}/"""
languageCode = "en-us"
title = """{{event.name}}"""

disableKinds = ["RSS", "taxonomy", "taxonomyTerm", "sitemap", "robotsTXT"]

[params]
context = """{{event.path}}"""
color = """{{event.color}}"""
name = """{{event.name}}"""
title = """{{event.title}}"""
hosted = """{{event.hosted}}"""
editorial = """{{event.editorial}}"""
location = """{{event.location}}"""
date = """{{event.date}}"""
isbn = """{{event.isbn}}"""
issn = """{{event.issn}}"""
doi_url = """{{event.doi_url}}"""
doi_label = """{{event.doi_label}}"""

{% if logo_data: %}
logo = """pdf/{{logo_data.filename}}"""
{% endif %}
{% if poster_data: %}
poster = """pdf/{{poster_data.filename}}"""
{% endif %}

{% for volume in volumes %}
[[params.volumes]]
title = """{{ volume.title }}"""
filename = """pdf/{{volume.filename}}"""
{% endfor %}

{% for attachment in attachments %}
[[params.attachments]]
title = """{{ attachment.title }}"""
filename = """pdf/{{attachment.filename}}"""
{% endfor %}   

