{% import 'authors_template.html.jinja' as authors_template %}

{% macro render(contribution) -%}

<div id="{{ contribution.code|e }}" class="contrib-ancor"></div>

{% if contribution.is_included_in_proceedings and contribution.metadata: %}
<h3>{{ contribution.code|e }} - {{ contribution.title|e }} - {{ contribution.metadata.page_count }}</h3>
{% else %}
<h3><s>{{ contribution.code|e }}</s> - {{ contribution.title|e }}</h3>
{% endif %}

{% if contribution.description: %}
<p>{{ contribution.description|e }}</p>
{% endif %}

{% if contribution.authors_groups: %}
<p>{{ authors_template.render(contribution.authors_groups) }}</p>
{% endif %}

{% if contribution.has_slides: %}
<p>
    <b>Slides</b>
    <a onclick="openUrl(`pdf/{{ contribution.slides_name }}`)" href="javascript:void(0);">
        {{ contribution.code|upper }}
    </a>
</p>
{% endif %}

{% if contribution.is_included_in_proceedings: %}
<p>
    <b>Paper</b>
    <a onclick="openUrl(`pdf/{{ contribution.paper_name }}`)" href="javascript:void(0);">
        {{ contribution.code|upper }}
    </a>
</p>

{% if contribution.metadata: %}
<p>
    <b>DOI</b>
    <span>reference for this paper:</span>
    <a onclick="openUrl(`doi/{{ contribution.code|lower }}/index.html`)" href="javascript:void(0);">
        {{ contribution.doi_data.doi_url }}
    </a>
</p>

<p>
    <b>About</b>
    <span>
        {% if contribution.reception: %}
        Received: {{ contribution.reception.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.revisitation: %}
        Revised: {{ contribution.revisitation.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.acceptance: %}
        Accepted: {{ contribution.acceptance.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.issuance: %}
        Issue date: {{ contribution.issuance.strftime('%d %B %Y') }}
        {% endif %}
    </span>
</p>

{% endif %}

{% endif %}

{% if contribution.reference: %}

<p>
    <b>Cite</b>
    <span>reference for this paper using:</span>
    <a onclick="openUrl(`reference/{{ contribution.code|lower }}-bibtex/index.html`)" href="javascript:void(0);">BibTeX</a>,
    <a onclick="openUrl(`reference/{{ contribution.code|lower }}-latex/index.html`)" href="javascript:void(0);">LaTeX</a>,
    <a onclick="openUrl(`reference/{{ contribution.code|lower }}-word/index.html`)" href="javascript:void(0);">Text/Word</a>,
    <a onclick="openUrl(`reference/{{ contribution.code|lower }}-ris/index.html`)" href="javascript:void(0);">RIS</a>,
    <a onclick="openUrl(`reference/{{ contribution.code|lower }}-endnote/index.html`)" href="javascript:void(0);">EndNote</a>
</p>

{% endif %}

{%- endmacro %}