{% macro render(contribution, class_name) -%}
<section class="{{ class_name }}">
    <div>
        <b>{{ contribution.code|e }}</b> -
        <a href="{{ contribution.doi_data.doi_url }}">{{
            contribution.doi_data.doi_url
            }}</a><br>
        <i>{{ contribution.title|e }}</i>
    </div>
</section>
{%- endmacro %}