{% import 'authors_template.html.jinja' as authors_template %}

{% macro render(contribution, include_event_slides, is_published) -%}

<div id="{{ contribution.code|lower }}" class="contrib-ancor"></div>

{% if is_published and contribution.metadata: %}

<div class="contrib-header">
    <div class="contrib-code">{{ contribution.code|e }}</div>
    <div class="contrib-title">{{ contribution.title|e }}</div>
    <div class="contrib-pages">{{ contribution.page }}</div>
</div>

{% else %}

<div class="contrib-header">
    {% if contribution.duplicate_of and contribution.duplicate_of.has_metadata %}
        <div class="contrib-code" title="Check primary paper code below for contribution">{{ contribution.code|e }}</div>
    {% else %}
    <div class="contrib-code"><s>{{ contribution.code|e }}</s></div>
    {% endif %}
    <div class="contrib-title">{{ contribution.title|e }}</div>
</div>

{% endif %}

{% if contribution.duplicate_of %}
<div class="contrib-subheader">
    <div class="contrib-code">
        <a data-href="session/{{ contribution.duplicate_of.session_id|lower }}-{{ contribution.duplicate_of.session_code|lower }}/index.html#{{ contribution.duplicate_of.code|lower }}" 
            onclick="openUrl(`session/{{ contribution.duplicate_of.session_id|lower }}-{{ contribution.duplicate_of.session_code|lower }}/index.html#{{ contribution.duplicate_of.code|lower }}`)" 
            href="javascript:void(0);">{{ contribution.duplicate_of.code|e }}</a>
    </div>
    <div class="description"><i>use link to access more material from this paper's primary code</i></div>
</div>
{% endif %}

{% if contribution.description: %}
<div class="contrib-desc">
    {{ contribution.description|e }}
</div>
{% endif %}

{% if contribution.authors_groups: %}
<div class="contrib-authors">
    {{ authors_template.render(contribution.authors_groups) }}
</div>
{% endif %}

{% if include_event_slides and contribution.is_slides_included and contribution.has_slides: %}
<div class="contrib-slides">
    <b>Slides:</b>
    <span>&nbsp;</span>
    <a data-href="pdf/{{ contribution.slides_name }}" 
        onclick="openUrl(`pdf/{{ contribution.slides_name }}`)" 
        href="javascript:void(0);">{{ contribution.code|upper }}</a>
</div>
{% endif %}

{% if is_published: %}
<div class="contrib-paper">
    <b>Paper:</b>
    <span>&nbsp;</span>
    <a data-href="pdf/{{ contribution.paper_name }}" 
        onclick="openUrl(`pdf/{{ contribution.paper_name }}`)" 
        href="javascript:void(0);">{{ contribution.code|upper }}</a>
</div>

{% if contribution.metadata: %}
    <div class="contrib-doi">
        <b>DOI:</b>
        <span>&nbsp;reference for this paper:&nbsp;</span>
        <a data-href="{{ contribution.doi_data.doi_url }}" 
            onclick="openUrl(`{{ contribution.doi_data.doi_url }}`)" 
            href="javascript:void(0);">{{ contribution.doi_data.doi_name }}</a>
    </div>

    <div class="contrib-dates">
        <b>About:</b>
        <span>&nbsp;</span>
        <span>
            {% if contribution.reception: %}
            Received: {{ contribution.reception.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.revisitation: %}
            Revised: {{ contribution.revisitation.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.acceptance: %}
            Accepted: {{ contribution.acceptance.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.issuance: %}
            Issue date: {{ contribution.issuance.strftime('%d %b %Y') }}
            {% endif %}
        </span>
    </div>
{% endif %}

{% endif %}

{% if contribution.duplicate_of.has_metadata %}

    <div class="contrib-doi">
        <b>DOI:</b>
        <span>&nbsp;reference for this paper:&nbsp;</span>
        <a data-href="{{ contribution.duplicate_of.doi_url }}" 
            onclick="openUrl(`{{ contribution.duplicate_of.doi_url }}`)" 
            href="javascript:void(0);">{{ contribution.duplicate_of.doi_name }}</a>
    </div>

    <div class="contrib-dates">
        <b>About:</b>
        <span>&nbsp;</span>
        <span>
            {% if contribution.duplicate_of.reception: %}
            Received: {{ contribution.duplicate_of.reception.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.duplicate_of.revisitation: %}
            Revised: {{ contribution.duplicate_of.revisitation.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.duplicate_of.acceptance: %}
            Accepted: {{ contribution.duplicate_of.acceptance.strftime('%d %b %Y') }} —
            {% endif %}

            {% if contribution.duplicate_of.issuance: %}
            Issue date: {{ contribution.duplicate_of.issuance.strftime('%d %b %Y') }}
            {% endif %}
        </span>
    </div>

    <div class="contrib-cite">
        <b>Cite:</b>
        <span>&nbsp;reference for this paper using:&nbsp;</span>
        <a data-href="reference/{{ contribution.duplicate_of.code|lower }}-bibtex/index.html" 
            onclick="openUrl(`reference/{{ contribution.duplicate_of.code|lower }}-bibtex/index.html`)" 
            href="javascript:void(0);">BibTeX</a>,
        <a data-href="reference/{{ contribution.duplicate_of.code|lower }}-latex/index.html" 
            onclick="openUrl(`reference/{{ contribution.duplicate_of.code|lower }}-latex/index.html`)" 
            href="javascript:void(0);">LaTeX</a>,
        <a data-href="reference/{{ contribution.duplicate_of.code|lower }}-word/index.html" 
            onclick="openUrl(`reference/{{ contribution.duplicate_of.code|lower }}-word/index.html`)" 
            href="javascript:void(0);">Text/Word</a>,
        <a data-href="reference/{{ contribution.duplicate_of.code|lower }}-ris/index.html" 
            onclick="openUrl(`reference/{{ contribution.duplicate_of.code|lower }}-ris/index.html`)" 
            href="javascript:void(0);">RIS</a>,
        <a data-href="reference/{{ contribution.duplicate_of.code|lower }}-endnote/index.html" 
            onclick="openUrl(`reference/{{ contribution.duplicate_of.code|lower }}-endnote/index.html`)" 
            href="javascript:void(0);">EndNote</a>
    </div>

{% elif contribution.reference %}

    <div class="contrib-cite">
        <b>Cite:</b>
        <span>&nbsp;reference for this paper using:&nbsp;</span>
        <a data-href="reference/{{ contribution.code|lower }}-bibtex/index.html" 
            onclick="openUrl(`reference/{{ contribution.code|lower }}-bibtex/index.html`)" 
            href="javascript:void(0);">BibTeX</a>,
        <a data-href="reference/{{ contribution.code|lower }}-latex/index.html" 
            onclick="openUrl(`reference/{{ contribution.code|lower }}-latex/index.html`)" 
            href="javascript:void(0);">LaTeX</a>,
        <a data-href="reference/{{ contribution.code|lower }}-word/index.html" 
            onclick="openUrl(`reference/{{ contribution.code|lower }}-word/index.html`)" 
            href="javascript:void(0);">Text/Word</a>,
        <a data-href="reference/{{ contribution.code|lower }}-ris/index.html" 
            onclick="openUrl(`reference/{{ contribution.code|lower }}-ris/index.html`)" 
            href="javascript:void(0);">RIS</a>,
        <a data-href="reference/{{ contribution.code|lower }}-endnote/index.html" 
            onclick="openUrl(`reference/{{ contribution.code|lower }}-endnote/index.html`)" 
            href="javascript:void(0);">EndNote</a>
    </div

{% endif %}

{%- endmacro %}