{% import 'authors_template.html.jinja' as authors_template %}

{% macro render(contribution) -%}

{% if contribution.is_qa_approved and contribution.metadata: %}
<h3>{{ contribution.code|e }} - {{ contribution.title|e }} - {{ contribution.metadata.page_count }}</h3>
{% else %}
<h3><s>{{ contribution.code|e }}</s> - {{ contribution.title|e }}</h3>
{% endif %}

{% if contribution.description: %}
<p>{{ contribution.description|e }}</p>
{% endif %}

{% if contribution.authors_groups: %}
<p>{{ authors_template.render(contribution.authors_groups) }}</p>
{% endif %}

{% if contribution.has_slides: %}
<p>
    <b>Slides</b>
    <a href="pdf/{{ contribution.slides_name }}">{{ contribution.code|upper }}</a>
</p>
{% endif %}

{% if contribution.is_qa_approved: %}
<p>
    <b>Paper</b>
    <a href="pdf/{{ contribution.paper_name }}">{{ contribution.code|upper }}</a>
</p>

{% if contribution.metadata: %}

<p>
    <b>DOI</b>
    <span>reference for this paper:</span>
    <a href="doi/{{ contribution.code|lower }}">{{ contribution.doi_data.doi_url }}</a>
</p>

<p>
    <b>About</b>
    <span>
        {% if contribution.reception: %}
        Received: {{ contribution.reception.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.revisitation: %}
        Revised: {{ contribution.revisitation.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.acceptance: %}
        Accepted: {{ contribution.acceptance.strftime('%d %B %Y') }} —
        {% endif %}

        {% if contribution.issuance: %}
        Issue date: {{ contribution.issuance.strftime('%d %B %Y') }}
        {% endif %}
    </span>
</p>

{% endif %}

{% endif %}

{% if contribution.reference: %}

<p>
    <b>Cite</b>
    <span>reference for this paper using:</span>
    <a href="reference/{{ contribution.code|lower }}/bibtex">BibTeX</a>,
    <a href="reference/{{ contribution.code|lower }}/latex">LaTeX</a>,
    <a href="reference/{{ contribution.code|lower }}/word">Text/Word</a>,
    <a href="reference/{{ contribution.code|lower }}/ris">RIS</a>,
    <a href="reference/{{ contribution.code|lower }}/endnote">EndNote</a>
</p>

{% endif %}

{%- endmacro %}