---
title: "{{ session_code }} - {{ session_title }}"
date: 2023-01-02T12:06:30+01:00
draft: false
---

<h2>{{ session_start }} / {{ session_end }}</h2>

<section>
    {% for convener in session_conveners %}
    <h4>Chair: {{ convener.first|e }} {{ convener.last|e }} ({{ convener.affiliation|e }})</h4>
    {% endfor %}
</section>

{% for contribution in contributions %}
<section>

    <h3>
        {{ contribution.code|e }} /
        {{ contribution.start.strftime('%H:%M') }} -
        {{ contribution.end.strftime('%H:%M') }}
    </h3>

    <h4>{{ contribution.title|e }}</h4>

    <p>{{ contribution.description|e }}</p>

    <ul>

        {% if contribution.metadata: %}

        <li>
            <b>Slides:</b>
            <a href="../../pdf/{{ contribution.code|upper }}.pdf">{{ contribution.code|upper }}.pdf</a>
        </li>

        <li>
            <b>Paper:</b>
            <a href="../../pdf/{{ contribution.code|upper }}.pdf">{{ contribution.code|upper }}.pdf</a>
        </li>

        {% endif %}

        <li>
            <b>DOI:</b> reference for this paper -
            <a href="{{ contribution.doi_data.doi_url }}">{{ contribution.doi_data.doi_url }}</a>
        </li>

        <li>
            <b>About:</b>
            paper received <i>26 August 2019</i> -
            paper accepted <i>09 September 2019</i> -
            issue date <i>05 November 2019</i>
        </li>

        {% if contribution.reference: %}

        <li>
            <p>
                <b>Export:</b> reference for this paper using:
            </p>

            <p>
                <b>BibTeX</b>
                <pre>{{ contribution.reference.bibtex|escape|replace('\n','<br>') }}</pre>

                <b>LaTeX</b>
                <pre>{{ contribution.reference.latex|escape|replace('\n','<br>') }}</pre>

                <b>Text/Word</b>
                <pre>{{ contribution.reference.word|escape|replace('\n','<br>') }}</pre>

                <b>RIS</b>
                <pre>{{ contribution.reference.ris|escape|replace('\n','<br>') }}</pre>

                <b>EndNote</b>
                <pre>{{ contribution.reference.endnote|escape|replace('\n','<br>') }}</pre>
            </p>
        </li>

        {% endif %}

        {% if contribution.metadata: %}

        <li>
            <b>Keywords:</b>
            <pre>{{ contribution.metadata.keywords | tojson }}</pre>
        </li>

        <li>
            <b>Report:</b>
            <pre>{{ contribution.metadata.report | tojson }}</pre>
        </li>

        {% endif %}

        {% if contribution.doi_data: %}

        <li>
            <b>Doi Data:</b>
            <pre>{{ contribution.doi_data | tojson }}</pre>
        </li>

        {% endif %}

    </ul>

</section>
{% endfor %}