+++
title = """[{{contributions|length}}]"""
+++

<section>
  <ul>
    {% for contribution in contributions %}
    {% if contribution.code and contribution.is_included_in_proceedings %}
    <li>
      <a data-href="doi/{{ contribution.code|lower }}/index.html" 
        onclick="openUrl(`doi/{{ contribution.code|lower }}/index.html`)" 
        href="javascript:void(0);"><b>{{ contribution.code }}</b>({{ contribution.title }})</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>