<div class="title">DOI per Institute</div>

<ul class="doi-per-institutes">
  {% for institute in institutes %}
  {% if institute and institute.name %}
  <li class="doi-per-institute">

    <b>{{ institute.name|e }}</b>

    <ul class="contributions">
      {% for contribution in contributionsGroups[institute.name] %}
      {% if contribution.code and contribution.is_qa_approved and contribution.doi_data %}
      <li class="contribution">
        <a href="../doi_per_institute/{{ contribution.code|lower }}/index.html">
          <b>{{ contribution.doi_data.doi_url|lower }}</b><br>
          <span>{{ contribution.title|e }}</span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
