---
title: "Home Page"
date: 2023-01-02T12:06:30+01:00
---


<h1>FEL2022</h1>

<h3>Proceedings of the13th International Particle Accelerator Conference</h3>

<section class="event-intro">
    <p>
        The links below lead to detailed listings of the many facets of the conference,
        including Portable Acrobat Format (PDF) files of all invited and contributed papers,
        together with slides from oral presentations.
    </p>
</section>

{% for attachment in attachments %}
{% if attachment.content_type == "image/jpeg": %}
<section class="event-poster">
    <img src="./pdf/{{ attachment.filename }}">
</section>
{% endif %}
{% endfor %}

<section class="event-menu">
    <ul>
        <li><a href="./session">Session</a></li>
        <li><a href="./classification">Classification</a></li>
        <li><a href="./author">Author</a></li>
        <li><a href="./institute">Institute</a></li>
        <li><a href="./doi_per_institute">DOI per Institute</a></li>
        <li><a href="./keyword">Keyword</a></li>
    </ul>
</section>

<section class="event-attachments">
    <ul>
        <li>
            <a href="./pdf/{{ event.id }}_proceedings_volume.pdf">
                <b>FEL2022 Proceedings Volume</b>
            </a> ({{ (volume_size / (1024 * 1024)) | int }}MB)
            <i>The complete volume of papers</i>
        </li>

        <li>
            <a href="./pdf/{{ event.id }}_proceedings_brief.pdf">
                <b>FEL2022 Proceedings at a glance</b>
            </a> ({{ (brief_size / (1024 * 1024)) | int }}MB)
            <i>First page only of all papers with hyperlinks to complete versions</i>
        </li>

        {% for attachment in attachments %}
        {% if attachment.content_type == "application/pdf": %}
        <li>
            <a href="./pdf/{{ attachment.filename }}">
                <b>{{ attachment.title }}</b>
            </a> ({{ (attachment.size / (1024 * 1024)) | int }}MB)
            <i>{{ attachment.description }}</i>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="event-info">
    <p>
        FEL2022 was organized by the
        Synchrotron Light Research Institute (SLRI) in
        Nakhon Ratchasima, Thailand and hosted at the
        IMPACT Exhibition and Convention Center
        in Trieste, Italy ⁙ 12-17 June 2022
    </p>
</section>

<section class="event-board">
    <p>
        Editorial Board: Frank Zimmermann (CERN), Hitoshi Tanaka (RIKEN), Porntip Sudmuang (SLRI), Prapong Klysubun
        (SLRI), Prapaiwan Sunwong (SLRI), Thakonwat Chanwattana (SLRI), Christine Petit-Jean-Genaz (CERN), Volker RW
        Schaa
        (GSI) July 2022
    </p>
</section>