---
title: "Home Page"
date: 2023-01-02T12:06:30+01:00
---



<h1>FEL2022</h1>

<h3>Proceedings of the13th International Particle Accelerator Conference</h3>

<section>
    <p>
        The links below lead to detailed listings of the many facets of the conference,
        including Portable Acrobat Format (PDF) files of all invited and contributed papers,
        together with slides from oral presentations.
    </p>
</section>

<section>
    <ul>
        <li><a href="./session">Session</a></li>
        <li><a href="./classification">Classification</a></li>
        <li><a href="./author">Author</a></li>
        <li><a href="./institute">Institute</a></li>
        <li><a href="./doi_per_institute">DOI per Institute</a></li>
        <li><a href="./keyword">Keyword</a></li>
    </ul>
</section>

<section>
    <ul>
        <li>
            <b>FEL2022 Proceedings Volume [995 MB]</b>
            <i>The complete volume of papers</i>
        </li>

        <li>
            <b>FEL2022 Proceedings at a glance [214 MB]</b>
            <i>First page only of all papers with hyperlinks to complete versions</i>
        </li>

        <li>
            <b>FEL2022 Guide Book [70 MB]</b>
            <i>Venue, Awards, Scientific Program, and Events</i>
        </li>

        <li>
            <b>FEL2022 Particle Accelerator Projects and Upgrades Booklet [1.5 MB]</b>
            <i>The complete volume of paper</i>
        </li>

        <li>
            <b>FEL2022 Student Poster Session Guide [2 MB]</b>
            <i>Information about the Student Poster Session</i>
        </li>

        <li>
            <b>FEL2022 Preface</b>
        </li>

        <li>
            <b>FEL2022 Committees</b>
        </li>
    </ul>
</section>

<section>
    <p>
        FEL2022 was organized by the
        Synchrotron Light Research Institute (SLRI) in
        Nakhon Ratchasima, Thailand and hosted at the
        IMPACT Exhibition and Convention Center
        in Trieste, Italy ⁙ 12-17 June 2022
    </p>
</section>

<section>
    <p>
        Editorial Board: Frank Zimmermann (CERN), Hitoshi Tanaka (RIKEN), Porntip Sudmuang (SLRI), Prapong Klysubun
        (SLRI), Prapaiwan Sunwong (SLRI), Thakonwat Chanwattana (SLRI), Christine Petit-Jean-Genaz (CERN), Volker RW
        Schaa
        (GSI) July 2022
    </p>
</section>