{% raw %}{{ define "main" }}{% endraw %}
<div class="home">

    <div class="event-head">

        <div class="event-name">
            <div>{% raw %}{{.Site.Params.name}}{% endraw %}</div>
        </div>

        <div class="event-title">
            <div>
                <span>Proceedings of the</span><br>
                <big>{% raw %}{{.Site.Params.title}}{% endraw %}</big>
            </div>
        </div>

    </div>

    <div class="event-intro">
        <p>
            The links below lead to detailed listings of the many facets of the conference, including Portable Acrobat
            Format (PDF) files of all invited and contributed papers, together with slides from oral presentations and
            PDFs from poster sessions.
        </p>
    </div>

    <div class="event-body">

        <div class="event-poster">
            <img src="{% raw %}{{.Site.Params.poster}}{% endraw %}">
        </div>

        <div class="event-menu">

            <div class="event-papers">

                <div>Index of papers by:</div>

                <ul>
                    <li><a href="./session/index.html">Session</a></li>
                    <li><a href="./classification/index.html">Classification</a></li>
                    <li><a href="./author/index.html">Author</a></li>
                    <li><a href="./institute/index.html">Institute</a></li>
                    <li><a href="./doi_per_institute/index.html">DOI per Institute</a></li>
                    <li><a href="./keyword/index.html">Keyword</a></li>
                </ul>
            </div>

            <div class="event-volumes">
                <ul>
                    <li>
                        <a href="./pdf/{{ event.path }}_proceedings_volume.pdf"><b>{% raw %}
                        {{.Site.Params.name}}
                        {% endraw %} Proceedings Volume</b></a>
                        ({{ volume_size | filesizeformat }})
                        <div><i>The complete volume of papers</i></div>
                    </li>

                    <li>
                        <a href="./pdf/{{ event.path }}_proceedings_brief.pdf"><b>{% raw %}
                            {{.Site.Params.name}}
                        {% endraw %} Proceedings at a glance</b></a>
                        ({{ brief_size | filesizeformat }})
                        <div><i>First page only of all papers with hyperlinks to complete versions</i></div>
                    </li>

                    {% for attachment in attachments %}
                    {% if '-volumes-' in attachment.filename: %}
                    {% if not 'volumes-at-a-glance-cover' in attachment.filename: %}
                    {% if not 'volumes-proceedings-cover' in attachment.filename: %}
                    <li>
                        <a href="./pdf/{{ attachment.filename }}"><b>{{ attachment.title }}</b></a>
                        ({{ attachment.size | filesizeformat }})
                        {% if attachment.description: %}
                        <div><i>{{ attachment.description }}</i></div>
                        {% endif %}    
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>

            <div class="event-attachments">
                <ul>
                    {% for attachment in attachments %}
                    {% if '-attachments-' in attachment.filename: %}
                    <li>
                        <a href="./pdf/{{ attachment.filename }}"><b>{{ attachment.title }}</b></a>
                        ({{ attachment.size | filesizeformat }})
                        {% if attachment.description: %}
                        <div><i>{{ attachment.description }}</i></div>
                        {% endif %}    
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="event-hosted">
                <p>{% raw %}{{.Site.Params.hosted | markdownify}}{% endraw %}</p>
            </div>

        </div>

    </div>

    <div class="event-footer">

        <div class="event-doi">
            <p>
            <div>DATE: {% raw %}{{.Site.Params.date}}{% endraw %}</div>
            <div>ISBN: {% raw %}{{.Site.Params.isbn}}{% endraw %}</div>
            <div>ISSN: {% raw %}{{.Site.Params.issn}}{% endraw %}</div>
            <div>DOI: {% raw %}<a target="_blank" href="{{.Site.Params.doi_url}}">{{.Site.Params.doi_label}}</a>{% endraw %}</div>
            </p>
        </div>

        <div class="event-board">
            <p>Editorial Board: {% raw %}{{.Site.Params.editorial | markdownify}}{% endraw %}</p>
        </div>

    </div>

    <div class="event-copy">
        Copyright &copy; {{ datetime_now.strftime('%Y') }} by
        <a href="https://www.jacow.org/" target="_blank">JACoW</a>
        — <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
            Creative Commons Attribution 4.0</a>
        — <a href="https://www.jacow.org/About/PublishingPoliciesEthics">Publishing Policies &amp; Ethics</a>
    </div>

</div>

{% raw %}{{ end }}{% endraw %}