<div class="title">List of Institutes</div>

<div class="az">
  {% for letter, is_present in initials|dictsort %}
  <a class="letter {% if not is_present %} disabled-link {% endif %}" href="#group-{{letter}}">{{ letter|upper }}</a>
  {% endfor %}
</div>

{% for initial, group in institutes_groups|dictsort %}
<h2 class="group-header" id="group-{{ initial|lower }}">{{ initial|upper }}</h2>
<ul class="institutes">
  {% for institute in group %}
  {% if institute.id %}
  <li class="institute">
    <b>{{ institute.name|e }}</b>

    <ul class="authors">
      {% if institute.name in authorsGroups %}
      {% for author in authorsGroups[institute.name] %}
      <li class="author">
        <a data-href="institute/{{ author.code|lower }}/index.html" 
          onclick="openUrl(`institute/{{ author.code|lower }}/index.html`)" 
          href="javascript:void(0);"><b>{{ author.short }}</b></a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>

  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
