+++
title = """[{{institutes|length}}]"""
+++

<section>
  <ul>
    {% for institute in institutes %}
    {% if institute.id: %}
    <li>
      <a href="../institute/{{ institute.id|lower }}/index.html">
        {{ institute.name }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>