+++
title = """[{{institutes|length}}]"""
+++

<section>
  <ul>
    {% for institute in institutes %}
    {% if institute.id: %}
    <li>
      <a href="./{{ institute.id|lower }}">
        {{ institute.name }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>