<div class="title">List of Institutes</div>

<ul class="institutes">
  {% for institute in institutes %}
  {% if institute.id %}
  <li class="institute">
    <b>{{ institute.name|e }}</b>

    <ul class="authors">
      {% if institute.name in authorsGroups %}
      {% for author in authorsGroups[institute.name] %}
      <li class="author">
        <a href="institute/{{ author.code|lower }}">
          <b>{{ author.short }}</b>
        </a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>

  </li>
  {% endif %}
  {% endfor %}
</ul>