<div class="title">List of Keywords</div>

<ul class="keywords">
  {% for keyword in keywords %}
  {% if keyword.code %}
  <li class="keyword">
    <a onclick="openUrl(`keyword/{{ keyword.code|lower }}/index.html`)" href="javascript:void(0);">
      <b>{{ keyword.name }}</b>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>