<div class="title">List of Keywords</div>

<ul class="keywords">
  {% for keyword in keywords %}
  {% if keyword.code %}
  <li class="keyword">
    <a href="keyword/{{ keyword.code|lower }}">
      <b>{{ keyword.name }}</b>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>