---
title: "FEL2022 - Keyword {{keywords|length}}"
date: 2023-01-02T12:06:30+01:00
---

<section>
  <ul>
    {% for keyword in keywords %}
    <li class="{{ loop.cycle('odd', 'even') }}">
      <a href="./{{ keyword.code|lower }}">
        <b>{{ keyword.name }}</b>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>