---
title: "Journals of Accelerator Conferences Website (JACoW)"
date: 2023-01-02T12:06:30+01:00
draft: false
---

<p class="doi-intro">
    <a href="https://www.jacow.org" target="_blank">JACoW</a> is a publisher in Geneva, Switzerland that publishes the proceedings of accelator conferences held around the world by an international collaboration of editors.
</p>
<hr>
<p>{{ reference_type }} citation export for {{ contribution_code }}: {{ contribution_title }}</p>
<hr>
<pre>{{ reference|e }}</pre>