<div class="title">Table of Sessions</div>

<ul class="sessions">
  {% for session in sessions %}
  {% if session.code %}
  <li class="session">
    <a onclick="openUrl(`session/{{ session.code|lower }}/index.html`)" href="javascript:void(0);">
      <b>{{ session.code }}</b> -
      <span>
        {{ session.title }}
      </span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
