<div class="title">Table of Sessions</div>

<ul class="sessions">
  {% for session in sessions %}
  {% if session.id and session.code %}
  <li class="session">
    <a data-href="session/{{ session.id }}-{{ session.code|lower }}/index.html" 
      onclick="openUrl(`session/{{ session.id }}-{{ session.code|lower }}/index.html`)" 
      href="javascript:void(0);"><b>{{ session.code }}</b> - <span>{{ session.title }}</span></a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
