---
type: "session"
name: "{{ session.code|e }}"
title: "{{ session.title|e }}"
start: "{{ session.start.strftime('%d %B %Y, %H:%M') }}"
end: "{{ session.end.strftime('%H:%M') }}"

{% if session.conveners|length>0 %}
{% set convener = session.conveners|first %}
chair: "{{ convener.first|e }} {{ convener.last|e }} ({{ convener.affiliation|e }})"
{% endif %}

{% if contributions|length>0 %}
contents:
{% for contribution in contributions %}
- contributions/{{ contribution.code|lower }}.html
{% endfor %}
{% endif %}
---
