---
title: ""
date: 2023-01-02T12:06:30+01:00
---

<h1>FEL2022 - Session</h1>

<section>
  <ul>
    {% for session in sessions %}
    <li class="{{ loop.cycle('odd', 'even') }}">
      <a href="./{{ session.code|lower }}">
        <b>{{ session.code }}</b> -
        {{ session.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>