<section class="menu">

<div class="logo">
    <a href="">
        <img src="{{.Site.Params.logo}}" alt="conference logo icon"
            alt="{{.Site.Params.name}} Proceedings &mdash; {{.Site.Params.location}}" />
    </a>
</div>

<div class="title">
    {{.Site.Params.name}} - Proceedings<br />{{.Site.Params.location}}<br />
</div>

<div class="nav">
            <a href="">Home</a>
    &mdash; <a href="session/">Session</a>
    &mdash; <a href="classification/">Classification</a>
    &mdash; <a href="author/">Authors</a>     <br>
            <a href="institute/">Institutes</a>
    &mdash; <a href="doi_per_institute/">DOI of Institutes</a>
    &mdash; <a href="keyword/">Keywords</a>
</div>

</section>