<section class="menu">

<div class="logo">
    <a href="">
        <img src="pdf/FEL2022-logo.jpg" alt="conference logo icon"
            alt="FEL2022 Proceedings &mdash; Trieste, Italy logo" />
    </a>
</div>

<div class="title">
    FEL2022 - Proceedings<br />
    Trieste, Italy<br />
</div>

<div class="nav">
            <a href="">Home</a>
    &mdash; <a href="session/">Session</a>
    &mdash; <a href="classification/">Classification</a>
    &mdash; <a href="authors/">Authors</a>     <br>
            <a href="institutes/">Institutes</a>
    &mdash; <a href="doi_of_institutes/">DOI of Institutes</a>
    &mdash; <a href="keywords/">Keywords</a>
</div>

</section>