html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  min-width: 940px;
  font-family: Calibri, Arial, sans-serif;
  font-size: 1.1rem;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

img,
iframe,
video {
  max-width: 100%;
}

ul {
  margin: 0;
}

li {
  list-style-type: square;
}

.home {
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.home .event-head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
}

.home .event-head .event-name {
  flex: 1 1 50%;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: var(--primary-color, '#333');
  padding: 0;
  margin: 0;
}

.home .event-head .event-title {
  flex: 1 1 50%;
  font-size: 1.3rem;

  padding: 0;
  margin: 0;
}

.home .event-head .event-title big {
  font-weight: bold;
  font-size: 2.2rem;
}


.home .event-body {
  display: flex;
  flex-flow: row nowrap;

  border-top: 0.1rem solid #999;
  padding-top: 0.1rem;
  margin-top: 0.2rem;

  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.home .event-body .event-poster {
  flex: 1 1 50%;
  padding: 1rem;
}

.home .event-body .event-menu {
  flex: 1 1 50%;
  padding: 1rem;
}

.home .event-body .event-menu {
  flex: 1 1 50%;
}

.home .event-body .event-menu .event-papers {
  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.home .event-body .event-menu .event-papers a {
  font-weight: bold;
  color: var(--primary-color, '#333');
}

.home .event-body .event-menu .event-volumes {
  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.home .event-body .event-menu .event-attachments {
  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}




.home .event-footer {
  display: flex;
  flex-flow: row nowrap;

  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.home .event-footer .event-doi {
  flex: 1 1 50%;
}

.home .event-footer .event-board {
  flex: 1 1 50%;
}

.home .event-copy {
  margin: 1rem;
  text-align: center;
}



.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 0.2rem solid #ddd;
}

.menu .logo {
  flex: 1;
  text-align: left;
}

.menu .logo img {
  max-width: 200px;
  max-height: 75px;
}

.menu .title {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.menu .nav {
  flex: 1;
  text-align: right
}

.menu .nav a {
  font-weight: bold;
  color: var(--primary-color, '#333');
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.content .full {
  max-width: 55rem;
  margin: 0 auto;
  padding: 1rem;
}

.content .left {
  flex: 0 1 30%;
  padding: 1rem;
  border-right: 0.2rem solid #ddd;
  overflow: auto;
  max-height: calc(100vh - 132px);
}

.content .left .title {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #999;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.content .left ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-flow: column nowrap;
}

.content .left li:last-child {
  border: 0;
}

.content .left li {
  font-size: 1rem;
  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-flow: column nowrap;
}

.content .left .sessions li a {
  flex: 1 1 100%;
}

.content .left .classifications li a {
  flex: 1 1 100%;
}

.content .left .authors li a {
  flex: 1 1 100%;
}

.content .left .institutes li a {
  flex: 1 1 100%;
}

.content .left .dois-of-institute li a {
  flex: 1 1 100%;
}

.content .left .keywords li a {
  flex: 1 1 100%;
}

.content .left li span {
  flex: 1;
  line-height: 1.1rem;
}

.content .right {
  flex: 1 1 70%;
  padding: 0.5rem;
  overflow: auto;
  max-height: calc(100vh - 132px);
}

.content .right .title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.content .right .name {
  flex: 1 1 auto;
  text-align: left;
  font-size: 2rem;
}

.content .right .date {
  flex: 1 1 auto;
  text-align: right;
  font-size: 1.3rem;
}

.content .right .chair {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #999;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.content .right .contrib {
  font-size: 1rem;
  border-bottom: 0.1rem solid #999;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}