{{ define "title" }}
{{ .Page.Title }}
{{ end }}

{{ define "type" }}
"institute"
{{ end }}

{{ define "main" }}
<div class="content">
    <div class="left">
        {{ readFile "/layouts/partials/institute/list.html" | safeHTML }}
    </div>

    <div class="right">
        <div class="title">
            <div class="name">
                <b>{{ .Params.title | safeHTML }}</b>
            </div>
        </div>

        {{ range $idx, $val := .Params.contents }}
        <div class="contrib">
            {{ readFile ( printf "/layouts/partials/%s" $val ) | safeHTML }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
