<reference>
    <publisher>{{ publisher }}</publisher>
    <publisher-venue>{{ publisher_venue }}</publisher-venue>
    <language>{{ language }}</language>
    <conference>
        <code>{{ conference_code }}</code>
        <booktitle-short>{{ booktitle_short }}</booktitle-short>
        <booktitle-long>{{ booktitle_long }}</booktitle-long>
        <series>{{ series }}</series>
        <series-number>{{ series_number }}</series-number>
        <venue>{{ venue }}</venue>
        <start-date>{{ start_date }}</start-date>
        <end-date>{{ end_date }}</end-date>
        <issn>{{ issn }}</issn>
        <isbn>{{ isbn }}</isbn>
    </conference>
    <contribution>
        <status>{{ status }}</status>
        <paper-code>{{ paper_code }}</paper-code>
        <authors-list>
            {% for author in authors_list %}
            <author>
                <first-name>{{ author.first }}</first-name>
                <last-name>{{ author.last }}</last-name>
            </author>
            {% endfor %}
        </authors-list>
        <title>{{ title }}</title>
        <abstract>{{ abstract }}</abstract>
        <pages>
            <start-page>{{ start_page }}</start-page>
            <number>{{ number_of_pages }}</number>
        </pages>
        <url>{{ url }}</url>
        <doi>{{ doi }}</doi>
        <keywords>
            {% for keyword in keywords %}
            <keyword>{{ keyword }}</keyword>
            {% endfor %}
        </keywords>
    </contribution>
</reference>
